tests/data/imported_unqualified.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:imp="virtual://imported/namespace"
        targetNamespace="virtual://imported/namespace"
        elementFormDefault="unqualified">
  <complexType name="bar-type">
    <sequence>
      <element name="foo"/>
    </sequence>
  </complexType>
  <element name="importedElement">
    <complexType>
      <sequence>
        <element name="importedFoo"/>
        <element name="importedBar"/>
      </sequence>
    </complexType>
  </element>
</schema>
